.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top_container_picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-size: cover;
}

.top__header {
  font-family: Josefin Sans;
  font-size: 48px;
  color: #FFFFFF;
  align-items: center;
  margin-top: 264px;
  letter-spacing: 3.36px;
  vertical-align: center;
  font-style: regular;
  position: absolute;
}

.top__tittle {
  font-family: Josefin Sans;
  font-size: 22px;
  margin-top: 11px;
  vertical-align: center;
  color: #FFFFFF;
  font-style: Regular;
  position: absolute;
  margin-top: 380px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 430px;
}

.search-input {
  background-color: white;
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999999;
  border-radius: 5px;
}

.search_text {
  font-family: Josefin Sans;
  font-size: 14px;
  color: #999999;
  vertical-align: center;
  font-style: regular;
}

.search-input h2 {
  color: #999999;
  margin: 0;
  font-size: 1.5rem;
}

.search-button {
  background-color: #5474FD;
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border-radius: 5px;
}

.search-button h2 {
  color: white;
  margin: 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  image-rendering: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freeiconspng.com%2Fimages%2Fmagnifying-glass-icon&psig=AOvVaw3FG9f71gMD0uJjgr9SjYw_&ust=1680369210786000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCNjt5KDVhv4CFQAAAAAdAAAAABAE");
  background-size: contain;
  background-repeat: no-repeat;
}

.bottom_container {
  height: 50px;
  width: 1770px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  background-color: #5474FD;
  padding-top: 25px;
}
.bottom_container__text {
  width: 186px;
  height: 20px;
  font-family: Josefin Sans;
  font-size: 24px;
  color: #FFFFFF;
  position: absolute;
  letter-spacing: 3.36px;
  margin-right: 1000px;
}

.links_block {
  display: flex;
  padding-left: 915px;
}
.links_block__link {
  font-family: Aleo;
  vertical-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 12px;
  justify-content: space-between;
  padding-right: 30px;
}

.choose {
  height: 680px;
  width: 1770px;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  position: relative;
}

.choose_container {
  color: #FFFFFF;
  font-size: 36px;
  font-family: Josefin Sans;
  display: flex;
  position: absolute;
}
.choose_container__first-picture {
  width: 350px;
  height: 220px;
  position: absolute;
  margin-left: 1090px;
  margin-top: 350px;
}
.choose_container__second-picture {
  width: 350px;
  height: 220px;
  position: absolute;
  margin-left: 1000px;
  margin-top: 115px;
}
.choose_container__title {
  height: 26px;
  width: 288px;
  color: #FFFFFF;
  font-size: 36px;
  font-family: Josefin Sans;
  position: absolute;
  margin-top: 220px;
  margin-left: 340px;
}
.choose_container__description {
  height: 158px;
  width: 560px;
  font-family: Josefin Sans;
  font-size: 16px;
  position: absolute;
  margin-top: 288px;
  margin-left: 340px;
}
.choose_container__button {
  width: 228px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #5474FD;
  border-radius: 3px;
  position: absolute;
  cursor: pointer;
  margin-top: 491px;
  margin-left: 340px;
}

.icons {
  max-width: 1770px;
  width: 100%;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333;
}
.icons__items-block {
  margin-top: 70px;
}
.icons__left-picture {
  padding-left: 40px;
}
.icons__middle-picture {
  padding-left: 40px;
}
.icons__right-picture {
  padding-left: 40px;
}

.spain_left {
  height: 700px;
  width: 1770px;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  position: relative;
}

.block_container {
  color: #FFFFFF;
  font-size: 36px;
  font-family: Josefin Sans;
  display: flex;
  position: absolute;
}
.block_container__picture {
  width: 543px;
  height: 374px;
  color: #232323;
  position: relative;
  opacity: 0.9;
  margin-top: 228px;
  margin-right: 600px;
}
.block_container__header {
  height: 26px;
  width: 80px;
  color: #E8E8E8;
  font-size: 20px;
  font-family: Josefin Sans;
  position: absolute;
  letter-spacing: 1.5px;
  margin-top: 280px;
  margin-left: 40px;
}
.block_container__title {
  height: 26px;
  width: 240px;
  color: #FFFFFF;
  font-size: 20px;
  font-family: Josefin Sans;
  position: absolute;
  margin-top: 340px;
  margin-left: 40px;
}
.block_container__description {
  height: 70px;
  width: 500px;
  color: #E8E8E8;
  font-size: 16px;
  font-family: Josefin Sans;
  position: absolute;
  letter-spacing: 1.5px;
  margin-top: 400px;
  margin-left: 40px;
}
.block_container__button {
  width: 228px;
  height: 63px;
  font-size: 17px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  background-color: #5474FD;
  position: absolute;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 490px;
  margin-left: 40px;
  padding-top: 25px;
}

.spain_right {
  height: 700px;
  width: 1770px;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  position: relative;
}

.second_block_container {
  color: #FFFFFF;
  font-size: 36px;
  font-family: Josefin Sans;
  display: flex;
  position: absolute;
  margin-left: 1200px;
}
.second_block_container__image {
  width: 543px;
  height: 374px;
  color: #232323;
  position: relative;
  opacity: 0.9;
  margin-top: 228px;
  margin-right: 600px;
}
.second_block_container__header {
  height: 26px;
  width: 80px;
  color: #E8E8E8;
  font-size: 20px;
  font-family: Josefin Sans;
  position: absolute;
  letter-spacing: 1.5px;
  margin-top: 280px;
  margin-left: 40px;
}
.second_block_container__title {
  height: 26px;
  width: 240px;
  color: #FFFFFF;
  font-size: 20px;
  font-family: Josefin Sans;
  position: absolute;
  margin-top: 340px;
  margin-left: 40px;
}
.second_block_container__description {
  height: 70px;
  width: 500px;
  color: #E8E8E8;
  font-size: 16px;
  font-family: Josefin Sans;
  position: absolute;
  letter-spacing: 1.5px;
  margin-top: 400px;
  margin-left: 40px;
}
.second_block_container__button {
  width: 228px;
  height: 63px;
  font-size: 17px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  background-color: #5474FD;
  position: absolute;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 490px;
  margin-left: 40px;
  padding-top: 25px;
}

.tourist_block_container {
  height: 700px;
  width: 1770px;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  position: relative;
}
.tourist_block_container__header {
  height: 26px;
  width: 400px;
  color: #FFFFFF;
  font-size: 36px;
  font-family: Josefin Sans;
  position: absolute;
  letter-spacing: 1.5px;
  margin-top: 112px;
  text-align: center;
}
.tourist_block_container__title {
  height: 26px;
  width: 150px;
  color: #FEFEFE;
  font-size: 20px;
  font-family: Josefin Sans;
  position: absolute;
  margin-top: 290px;
  margin-left: 63px;
}
.tourist_block_container__description {
  height: 165px;
  width: 581px;
  color: #E8E8E8;
  font-size: 20px;
  font-family: Josefin Sans;
  letter-spacing: 1.5px;
  position: absolute;
  margin-top: 350px;
  margin-left: 500px;
}

.tourist_block__second_picture {
  width: 443px;
  height: 280px;
  opacity: 0.9;
  position: absolute;
  margin-top: 247px;
  margin-right: 670px;
}

.bottom_section {
  height: 268px;
  width: 1770px;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  position: relative;
}

.last_container {
  height: 268px;
  width: 1770px;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  position: relative;
}
.last_container__header {
  width: 193px;
  height: 26px;
  font-family: Josefin Sans;
  font-size: 24px;
  color: #FFFFFF;
  position: absolute;
  letter-spacing: 3.36px;
  margin-top: 100px;
  margin-left: 35px;
}
.last_container__title {
  height: 26px;
  width: 196px;
  font-family: Josefin Sans;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 1.6px;
  text-align: center;
  margin-top: 150px;
  position: absolute;
}
.last_container__picture {
  position: absolute;
  text-align: center;
  margin-top: 200px;
}

/*# sourceMappingURL=style.css.map */
